  .tags
    display inline-block
  
    button
      margin-right: 0.5em
      cursor pointer
      background inherit
      color #ff6b00
      padding 0
      
      &:hover
        color #000
        
      &:disabled
        color #ff6b00
        cursor auto