.excerpt
  .linkable
    display block
    position relative
    color inherit

    h1
      font-size 3rem
      margin 0
      position absolute
      bottom 10%
      background rgba(0, 0, 0, 0.5)
      padding 1rem

      @media screen and (max-width: 640px)
        font-size 2rem
  
  img
    width 100%
    min-height 12em