.newOrEditForm
  display flex
  flex-direction column
  min-height 655px
  width 100%

  input[type="submit"]
    width 7.5em

  input[type="text"],
  input[type="url"]
    width 75%
    margin-bottom 1em

  textarea
    height 5em
    resize vertical
    margin-bottom 1em

  .postTextarea
    height 30em

  input[type="checkbox"]
    margin-bottom 1em
    
  .error
    color: #FF2B2B

  .success
    color: #09FF00