.content
  h1
    margin-top 0

  .form
    display flex
    flex-direction column

    input[type="text"]
      width 15em

    input[type="password"]
      margin 1em 0
      width 15em

    input[type="submit"]
      width 7.5em

    .error
      color: #FF2B2B
