@import './vendor/normalize.css'

site-background = #171717;
header-background = #FF6B00;
tab-background = #434343;
text-color = #F5F5F5;
input-text-color = #000000;

html
  font 16px / 26px Helvetica, Helvetica Neue, Arial

body
  background site-background
  color text-color

textarea
  resize none
  color input-text-color

input
  color input-text-color

#site-header
  background header-background
  display flex
  align-items center
  flex-direction column

  h1
    display flex
    cursor pointer
    justify-content center

  nav
    display flex
    height 3rem
    align-items flex-end
    justify-content center
    text-align center

    a
      background tab-background
      text-decoration none
      color text-color
      font-weight bold
      height 3rem
      line-height 3rem
      margin 0 1rem
      padding 0 1rem

    a:first-child
      margin-left 0

    a:last-child
      margin-right 0

#site-content
  display flex
  padding-top 1rem
  padding-bottom 1rem
  background tab-background

#site-footer
  margin-top 1rem
  display flex
  justify-content space-between

.adjust-size
  margin 0 auto
  padding 0 1rem

#login-form
  display flex
  flex-direction column

  input[type="text"]
    max-width 10rem

  input[type="password"]
    margin 1rem 0
    max-width 10rem

  input[type="submit"]
    max-width 5rem

@media only screen and (min-width 1024px)
  .adjust-size
    width 1024px
