body-background = #000000;
page-background = #0E0E0E;
text-color = #F5F5F5;
input-text-color = #000000;

body
  background: body-background;
  color: text-color


#main-wrapper
  margin: 0 auto
  width: 1024px
  background: page-background;
  padding: 1em


#site-header
  border-bottom solid 1px white
  h1
    margin: 0

textarea
  resize: none
  color: input-text-color

.comment-form
  *
    margin: 0.5em 0

  textarea
    height 3em
    width 20em

input
  color: input-text-color
