body-background = #000000;
header-footer-background = #FF6B00;
header-footer-border = #FF4500;
text-color = #F5F5F5;
input-text-color = #000000;
border-color = #F5F5F5

body
  background: body-background
  color: text-color
  font: 16px / 26px Helvetica, Helvetica Neue, Arial

textarea
  resize: none
  color: input-text-color

input
  color: input-text-color

hr
  border-top: 1px solid border-color

.adjust-size
  width: 100%
  margin: 0 auto
  padding: 0 1em 0 1em

/*#site-wrapper*/

#site-header-wrapper
  background: header-footer-background
  border-bottom: solid 1em header-footer-border

  header
    display: flex
    align-items: center
    flex-wrap: wrap

    h1
      display: inline-block
      margin: 0
      flex-grow: 1


    nav
      display: inline-flex
      height: 3em
      align-items: center
      justify-content: flex-start
      margin-top: 1em
      flex-grow: 1

      a
        background: header-footer-border
        text-decoration: none
        color: text-color
        font-weight: bold
        margin: 0 1em
        padding:1em

/*#site-header*/

#site-main-wrapper
  margin-top: 1em
  margin-bottom: 1em
  padding-top: 1em
  padding-bottom: 1em


/*#site-content*/

#site-footer-wrapper
  background: header-footer-background
  border-top: solid 1em header-footer-border

  p
    margin: 0

/*#site-footer*/

.comment-box
  h1
    margin: 0;

  .comment-form
    *
      margin: 0.5em 0

    textarea
      height: 3em
      width: 20em

/* @media only screen and (min-width 480px) */

@media only screen and (min-width 768px)
  .adjust-size
    width: 90%

  #site-header-wrapper
    header
      nav
        justify-content: center
        margin-top: 1em

@media only screen and (min-width 1024px)
  .adjust-size
    width: 1024px
