html
  font-family 'Roboto Slab', serif
  font-size 16px / 24px
  overflow-y scroll
  color #F5F5F5

body, button, input, p, span, a, h1, h2, h3, header, footer, nav, div
  font-family inherit

input
  border none

input[type="password"],
input[type="text"]
  &:disabled
    background-color #D3D3D3

input[type="submit"]
  cursor pointer
  background-color #FF6B00
  color #F5F5F5

  &:hover
    color #000000

  &:disabled
    background-color #965A1B

button
  background-color #FF6B00
  border none
  color #F5F5F5

  &:hover
    color #000000

body
  background #171717
  margin 0

input
  color #000000
  padding 0.5em

img
  max-height 100%
  max-width 100%

a
  text-decoration none
  color #FF6B00

  &:hover
    color #000000

:global(#app-root)
  max-width 1024px
  min-width 360px
  margin 0 auto
