.blog
  h1:first-child
    margin-top 0

  img
    display block
    margin 0 auto

.excerpt
  margin 2em 0

  .linkable
    display block

  &:first-child
    margin-top 0

  &:last-child
    margin-bottom 0

  h1
    font-size 3rem
    margin 1rem 0

  p
    margin-bottom 0
