.footer
  padding 1em
  display flex
  justify-content space-between
  align-items center

  span:first-child
    flex 9

  .images
    display flex
    justify-content flex-end
    flex 11

    a
      margin-right 0.5em

      &:last-child
        margin-right 0

    img
      height 2em

